.diagrammatica-line {
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .extent {
        stroke: #EFEFEF;
        fill-opacity: .125;
        shape-rendering: crispEdges;
        stroke-width: 2px;
    }
}
